.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 170px;
}

.image_text {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.about-me {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
  object-fit: cover;
  animation: fadeIn 1s ease-in-out;
}

.title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.info {
  font-size: 18px;
  margin-bottom: 10px;
}

.name {
  display: inline-block;
  font-size: 32px;
  font-weight: bold;
  animation: fadeInLetters 1s ease-in-out;
}

.button-container {
  margin-top: 120px;
  animation: fadeInButton 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLetters {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInButton {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 600px) {
  .container {
    margin: 10px;
  }

  .image_text {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .title {
    font-size: 28px;
  }

  .info {
    font-size: 16px;
  }

  .name {
    font-size: 28px;
  }
}
